[*]
end_of_line = lf
charset = utf-8

[*.{kt,kts,java}]
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 140
ij_wrap_on_typing = true
ij_continuation_indent_size = 4
ij_java_imports_layout = $*, |, * # Static imports, line, normal imports
ij_java_layout_static_imports_separately = true
ij_java_use_single_class_imports = true
ij_java_if_brace_force = always
ij_java_do_while_brace_force = always
ij_java_for_brace_force = always
ij_java_while_brace_force = always
